@keyframes font_c{
	from{
		font-size: 20px;
	}
	to{
		font-size: 40px;
	}
}

@keyframes margin_c{
	from{
		margin-right: 0;
		}
	to{
		margin-right: 20px;
		}
}

@keyframes btn_margin_c{
	from{
		width: 70px;
		height: 20px;
		line-height: 20px;
		margin-top: 10px;
		}
	to{
		width: 100px;
		height: 48px;
		line-height: 48px;
		margin-top: 48px;
	}
}

@keyframes move{
	from{
		top: 270px;
		left: 380px;
		height: 0;
	}
	to{
		top: 290px;
		left: 400px;
		height: 50px;
		}
}