*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
	cursor: pointer;
}
ul,ol{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Crimson Text', serif;
}
p{
	font-family: 'Oxygen', sans-serif;
}
input{
	outline: none;
	border:none;
}

.page-top{
	height: 200px;
	background: url(../img/3.jpg) no-repeat center;
	background-size: cover;
}

/*网页头，logo，导航*/
header{
	position: absolute;
	top: 0;
	z-index: 100;
	height: 120px;
	width: 100%;
	padding: 0 48px;
}
header .logo{
	height: 54px;
	float: left;
	margin-top: 40px;
}

header .logo a{
	margin-left: 15px;  /*新增*/
	display: flex;
	height: 54px;
	align-items: center;
}
header .logo a img{
	height: 48px;   /*修改logo尺寸*/
	width: 48px;
	vertical-align: bottom;
}
header .logo a span{
	padding-left: 5px;  /*新增*/
	font-size: 40px;
	font-weight: 700;
	text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
	color: #fff;
	animation: font_c 0.5s ease-in;
}

header .menu{
	height: 24px;
	float: right;
	margin-top: 45px;
	margin-right: 45px;
	display: flex;
}
header .menu li{
	font-size: 15px;
	letter-spacing: 1px;
	margin-right: 20px;
	animation: margin_c 0.5s ease;
}

header .menu li a{
	color: #fff;
}
header .menu li>a:hover{
	color: rgba(225,255,255,0.8);
}

header .menu .menu_nav{
	position: relative;
}
header .menu .menu_nav:hover ul{
	display: block;
}
header .menu .menu_nav ul{
	background: rgba(0,0,0,.5); /*背景颜色透明度*/
	display: none;
    position: absolute;
    top: 25px;
    /*background: #333;*/
    padding: 10px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 9;
}
header .menu .menu_nav ul li{
	width: 150px;
    float: none;
    display: list-item;
    position: relative;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
	/* 改了ul背景透明度后    加了个hover 效果*/
header .menu .menu_nav ul li:hover a{
	color: #f0546a;
}
header .menu .menu_nav ul li a{
	color: #fff;
    padding: 4px 10px;
    display: block;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}
/*网页头，logo，导航*/


/*登录注册*/
.aside-wrap{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	z-index: 100;
	cursor: pointer;
	background-color:rgba(255,255,255,.5);
}
aside{
	margin-left:250px;
	width: 700px;
	height: 400px;
	position: absolute;
	top: 200px;
	background-color:white;
	box-shadow: 0 0 3px #666666;
}

aside .login-box{
	float:left;
	width:350px;
	height: 100%;
	position:relative;
	overflow:hidden;
	margin-left: 30px;
	padding-top: 20px;
	box-sizing: border-box;
}
aside .login-box .lg-top{
	height: 50px;
	display:flex;
	justify-content:space-around;
}
aside .login-box .lg-top p{
	font-size:18px;
	text-align:center;
	width: 40%;
	cursor:pointer;
	letter-spacing:2px;
	color:#333333;
	height:40px;
	line-height:50px;
	
}
p.border-bot{
	border-bottom: 2px solid #f0546a;
}
aside .login-box .lg-bottom{
	position:relative;
	height: 430px;
}
aside .login-box form{
	position: absolute;
	top: 40px;
}
aside .login-box form h4{
	height: 40px;
	line-height: 40px;
	font-weight: normal;
	padding-left: 4px;
	box-sizing: border-box;
	background-color:#e9ecef;
}
aside .login-box form h4 i{
	font-size: 22px !important;
	color: #cccccc !important;
}
aside .login-box form h4 input[type="text"]{
	width: 310px;
	height:40px;
	vertical-align: top;
	background-color:#e9ecef;
}
aside .login-box form input[type="password"]{
	width: 310px;
	height:40px;
	vertical-align: top;
	background-color:#e9ecef;
}

aside .login-box form p{
	height: 30px;
	line-height:30px;
	font-size:12px;
	color:red;
	padding-left:20px;
	opacity: 0;
}
aside .login-box form input[type="button"]{
	width: 350px;
	margin:0 auto;
	height: 40px;
	font-size:15px;
	letter-spacing:1px;
	color:white;
	text-align:center;
	background-color:#f0546a;
	cursor:pointer;
	opacity:.8;
}
aside .login-box form input[type="button"]:hover{
	opacity:1;
}

aside .login-box .lg-bottom form h3{
	margin:30px 0;
	font-weight:normal;
	font-size:14px;
	color: #333333;
	overflow:hidden;
}
aside .login-box .lg-bottom form h3 input{
	float:left;
	margin-top: 3px;
	margin-right:10px;
}
aside .login-box .lg-bottom form  h3 span{
	float:right;
	font-size:12px;
	color:#666666;
}
aside .login-box .lg-bottom form .reg_bottom span{
	float:none;
}
aside .login-box .lg-bottom form .reg_bottom span a{
	padding:0 5px;
	color:#06A0E4;
}

aside .login-box .lg-bottom .rgs_form{
	display:none;
}

aside .other_lg{
	float:right;
	margin-top:80px;
	width: 250px;
	height: 400px;
	font-family: "Microsoft YaHei";
}
aside .other_lg h3{
	font-weight:normal;
	font-size:16px;
	color:#2c3e50;
	text-align:center;
	padding-bottom: 25px;
	font-family: inherit;
}
aside .other_lg a{
	display:block;
	width: 140px;
	height: 30px;
	/*line-height:30px;*/
	display: flex;
	align-items: center;
	font-size:16px;
	margin: auto;
	margin-bottom: 12px;
	border-radius:10px;
}
aside .other_lg a i{
	font-size:22px !important;
	color:red;
	margin:0 10px;
}
aside .other_lg a:nth-of-type(1){
	color:#4884f2;
	/*border:1px solid #4884f2;*/
	box-shadow: 0 0 2px #4884f2;
}
aside .other_lg a:nth-of-type(1) i{
	color:#4884f2 !important;
}
aside .other_lg a:nth-of-type(1):hover{
	background-color:#4884f2;
	color:white;
}
aside .other_lg a:nth-of-type(1):hover i{
	color:white !important;
}

aside .other_lg a:nth-of-type(2){
	color:#f05151;
	box-shadow: 0 0 2px #f05151;
}
aside .other_lg a:nth-of-type(2) i{
	color:#f05151 !important;
}
aside .other_lg a:nth-of-type(2):hover{
	background-color:#f05151;
	color:white;
}
aside .other_lg a:nth-of-type(2):hover i{
	color:white !important;
}

aside .other_lg a:nth-of-type(3){
	color:#00cf0d;
	box-shadow: 0 0 2px #00cf0d;
}
aside .other_lg a:nth-of-type(3) i{
	color:#00cf0d !important;
}
aside .other_lg a:nth-of-type(3):hover{
	background-color:#00cf0d;
	color:white;
}
aside .other_lg a:nth-of-type(3):hover i{
	color:white !important;
}

aside .other_lg p{
	font-size: 14px;
	text-align:center;
	margin-top: 25px;
}
aside .other_lg p span{
	color: #f05151;
	margin-left: 20px;
}
aside .cancel-btn{
	position:absolute;
	top: 10px;
	right:20px;
	width: 30px;
	height: 30px;
	line-height:30px;
	text-align: center;
	border-radius:50%;
	background-color:#cccccc;

}
aside .cancel-btn i{
	font-size:24px !important;
	color:white !important;
}
/*登录注册*/

/*子页面的内容区*/
.content-box{
	width: 100%;
	background-color: #F5F5F5;
}
.content-box .content-wrap{
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
}
/*子页面的内容区*/


/*搜索框下的日历*/
.date-wrap{
	position: absolute;
	top: 50px;
	left: 330px;
	background-color: rgba(250,250,250,.8);
	height: 270px;
	width: 300px;
	margin: auto;
	/*border: 1px solid red;*/
	padding:0 20px;
	box-sizing: border-box;
	display: none;
	z-index: 10;
}

.date-wrap .header{
	height:50px;
	display: flex;
	align-items: center;
}
.date-wrap .header h3{
	flex:1;
	font-weight: normal;
	text-align:center;
	font-size: 18px;
}
.date-wrap .header span{
	cursor: pointer;
	color:red;
}
.date-wrap .nav{
	height:40px;
	display:flex;
	align-items:center;
	font-size:16px;
	border-bottom:1px solid black;
}
.date-wrap .nav li{
	width:14%;
	text-align:center;
}
.date-wrap .datelist{
	display:flex;
	flex-wrap: wrap;
}
.date-wrap .datelist li{
	width:14%;
	height:30px;
	line-height:30px;
	font-size:14px;
	text-align:center;
	cursor:pointer;
}
.date-wrap .datelist .today{
	background-color: gray;
	color:white;
}
.date-wrap .datelist .xiuxi{
	color:red;
}
.date-wrap .datelist .disabled{
	pointer-events: none;
	color: #cccccc;
	disabled:disabled;
}
/*搜索框下的日历*/